{% load static %}

<!doctype html>
<html>
  <head>
    <title>FinanceIO</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <header>
      <h1>FinanceIO</h1>
      {% if user.is_authenticated %}
        <a href="{% url 'accounts:logout' %}">Log out</a>
      {% else %}
        <a href="{% url 'accounts:login' %}">Log in</a>
        <a href="{% url 'accounts:register' %}">Register</a>
      {% endif %}
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
    <footer>
      Copyright {{ year }}
    </footer>
  </body>
</html>